body {
    font-family: sans-serif;
    direction: rtl;
    background: linear-gradient(to bottom,#dbeafe,#f7c8f4);
    margin: 20px;
}

.page-title {
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: #7e0950;
}

.tip-box{
    padding: 25px;                 /* فاصله بیشتر داخل چوکات */
    border-radius: 16px;
    margin-bottom: 28px;
    background: white;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    border: 1px solid #ddd;        /* خط دور چوکات */
    transition: 0.3s ease;}

.tip-box:hover{
    transform: translateY(-4px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.18);
}

.section1 { background: #ffffff; }
.section2 { background: #ffffff; }
.section3 { background: #ffffff; }

.map-btn {
    background: white;
    border: 1px solid #444;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
}

.map-link {
    display: block;
    margin-top: 8px;
    font-size: 13px;
    color: #0066cc;
    text-decoration: none;
}
@media(max-width: 768px)